In [ ]:
import os, glob
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import linear_model

#From Video
#Tests the model for accuracy
from sklearn.model_selection import train_test_split

#Scales outliers so that it doesnt affect the data too much
from sklearn.preprocessing import StandardScaler

#Model Creation
from sklearn.neighbors import KNeighborsClassifier

#The last three tools are for testing the model
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

#This will be used to fill in the missing data
from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv("combined_everything.csv")

In [ ]:
df.head()

,Rk,Year,Player,Pos,AV,School,College,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,1,2000,Brian Young\YounBr20,DE,47.0,Texas-El Paso,College Stats,6-2,278,4.94,29.5,27.0,106.0,7.20,4.47,St. Louis Rams / 5th / 139th pick / 2000
1,2,2000,Cedric Woodard\WoodCe20,DT,15.0,Texas,NaN,6-2,290,5.21,30.5,23.0,109.0,NaN,NaN,Baltimore Ravens / 6th / 191st pick / 2000
2,3,2000,Antonio Wilson\WilsAn20,OLB,2.0,Texas A&M-Commerce,NaN,6-2,245,4.56,NaN,11.0,NaN,NaN,NaN,Minnesota Vikings / 4th / 106th pick / 2000
3,4,2000,Josh Williams\WillJo30,DT,19.0,Michigan,NaN,6-3,282,4.90,30.5,NaN,111.0,7.22,4.25,Indianapolis Colts / 4th / 122nd pick / 2000
4,5,2000,Damen Wheeler\WheeDa20,CB,0.0,Colorado,NaN,5-9,179,4.51,35.0,11.0,115.0,7.21,4.27,San Diego Chargers / 6th / 203rd pick / 2000

In [ ]:
#Removes the "\" from the player name
def Player_name_fix(ht):
    #Fixes Player name to remove "\"
    ht_ = ht.split("\\")
    KeptPortion = ht_[0]
    return KeptPortion

#Changes height from feet into inches
def feet_to_inches(ht):
    #Split the height between ft and inches
    ht_ = ht.split("-")
    #Convert to float
    ft_ = float(ht_[0])
    in_ = float(ht_[1])
    ft_to_in = (12*ft_) + in_
    return ft_to_in

In [ ]:
df["Height"] = df["Height"].apply(feet_to_inches)

In [ ]:
df.head(10)

,Rk,Year,Player,Pos,AV,School,College,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,1,2000,Brian Young\YounBr20,DE,47.0,Texas-El Paso,College Stats,74.0,278,4.94,29.5,27.0,106.0,7.20,4.47,St. Louis Rams / 5th / 139th pick / 2000
1,2,2000,Cedric Woodard\WoodCe20,DT,15.0,Texas,NaN,74.0,290,5.21,30.5,23.0,109.0,NaN,NaN,Baltimore Ravens / 6th / 191st pick / 2000
2,3,2000,Antonio Wilson\WilsAn20,OLB,2.0,Texas A&M-Commerce,NaN,74.0,245,4.56,NaN,11.0,NaN,NaN,NaN,Minnesota Vikings / 4th / 106th pick / 2000
3,4,2000,Josh Williams\WillJo30,DT,19.0,Michigan,NaN,75.0,282,4.90,30.5,NaN,111.0,7.22,4.25,Indianapolis Colts / 4th / 122nd pick / 2000
4,5,2000,Damen Wheeler\WheeDa20,CB,0.0,Colorado,NaN,69.0,179,4.51,35.0,11.0,115.0,7.21,4.27,San Diego Chargers / 6th / 203rd pick / 2000
5,6,2000,Jason Webster\WebsJa20,CB,27.0,Texas A&M,NaN,69.0,180,4.42,35.5,17.0,122.0,6.76,3.98,San Francisco 49ers / 2nd / 48th pick / 2000
6,7,2000,Steve Warren\WarrSt20,DT,2.0,Nebraska,NaN,73.0,307,5.10,30.5,29.0,105.0,7.97,4.56,Green Bay Packers / 3rd / 74th pick / 2000
7,8,2000,Darwin Walker\WalkDa21,DT,44.0,Tennessee,NaN,74.0,293,4.82,NaN,NaN,NaN,NaN,NaN,Arizona Cardinals / 3rd / 71st pick / 2000
8,9,2000,Darrick Vaughn\VaugDa20,CB,10.0,Texas State,NaN,71.0,196,4.53,36.5,14.0,121.0,7.09,4.16,Atlanta Falcons / 7th / 211th pick / 2000
9,10,2000,Brian Urlacher\UrlaBr00,OLB,150.0,New Mexico,College Stats,76.0,258,4.59,34.0,27.0,122.0,6.94,4.18,Chicago Bears / 1st / 9th pick / 2000

In [ ]:
import os, glob
path = r'C:\Users\ThinkPad\Documents\Fall2021\QMB Data\NFL Combine\Defense_and_Offense'
master_everything = pd.DataFrame()

for file in os.listdir(path):
    if file.endswith('.csv'):
        master_everything = master_everything.append(pd.read_csv(".\\Defense_and_Offense\\" + file))

master_everything.to_csv('combined_everything.csv', index=False)

Scrapes data from site and places it into a dataframe

In [ ]:
#https://www.youtube.com/watch?v=ooj84UP3r6M - By the Dataprofessor
#Takes the URL of the site where data was taken
import pandas as pd
year = 2000

site = "https://www.pro-football-reference.com/years/{}/draft.htm"

url = site.format(year)
url

'https://www.pro-football-reference.com/years/2000/draft.htm'

In [ ]:
#Turns site info into list
df_scraping_test = pd.read_html(url, header = [1])
#Turns list into dataframe, remove other tables not needed
df_scraping_test = df_scraping_test[0]

df_scraping_test

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds.1,TD.1,Rec,Yds.2,TD.2,Solo,Int.1,Sk,College/Univ,Unnamed: 28
0,1,1,CLE,Courtney Brown,DE,22,2005,0,0,4,...,0,0,0,0,0,156,NaN,19.0,Penn St.,College Stats
1,1,2,WAS,LaVar Arrington,LB,22,2006,0,3,5,...,0,0,0,0,0,338,3,23.5,Penn St.,College Stats
2,1,3,WAS,Chris Samuels,T,23,2009,0,6,9,...,0,0,0,0,0,NaN,NaN,NaN,Alabama,College Stats
3,1,4,CIN,Peter Warrick,WR,23,2005,0,0,4,...,360,2,275,2991,18,3,NaN,NaN,Florida St.,College Stats
4,1,5,BAL,Jamal Lewis,RB,21,2009,1,1,9,...,10607,58,221,1879,4,NaN,NaN,NaN,Tennessee,College Stats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,7,250,WAS,Ethan Howell,WR,NaN,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma St.,College Stats
256,7,251,BUF,DaShon Polk,LB,23,2006,0,0,1,...,0,0,0,0,0,156,NaN,4.5,Arizona,NaN
257,7,252,GNB,Rondell Mealey,RB,23,2002,0,0,0,...,73,1,9,76,0,7,NaN,NaN,LSU,College Stats
258,7,253,DET,Alfonso Boone,DT,24,2010,0,0,1,...,0,0,0,0,0,154,NaN,15.5,Mount San Antonio JC,NaN
259,7,254,CHI,Michael Green,DB,23,2008,0,0,2,...,0,0,0,0,0,350,4,6.0,Northwestern St. (LA),NaN

In [ ]:
#While loop to scrape data and place into a single CSV file
i = 0
while i < 18:
    url = site.format(year+i)
    #Turns site info into list
    df_scraping_test1 = pd.read_html(url, header = [1])
    #Turns list into dataframe, remove other tables not needed
    df_scraping_test1 = df_scraping_test1[0]
    i+=1
    df_scraping_test = df_scraping_test.append(df_scraping_test1, ignore_index=True)

df_scraping_test.to_csv('draft'+str(year)+'.csv', index=False)

In [ ]:
df_scraping_test

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds.1,TD.1,Rec,Yds.2,TD.2,Solo,Int.1,Sk,College/Univ,Unnamed: 28
0,1,1,CLE,Courtney Brown,DE,22,2005,0,0,4,...,0,0,0,0,0,156,NaN,19.0,Penn St.,College Stats
1,1,2,WAS,LaVar Arrington,LB,22,2006,0,3,5,...,0,0,0,0,0,338,3,23.5,Penn St.,College Stats
2,1,3,WAS,Chris Samuels,T,23,2009,0,6,9,...,0,0,0,0,0,NaN,NaN,NaN,Alabama,College Stats
3,1,4,CIN,Peter Warrick,WR,23,2005,0,0,4,...,360,2,275,2991,18,3,NaN,NaN,Florida St.,College Stats
4,1,5,BAL,Jamal Lewis,RB,21,2009,1,1,9,...,10607,58,221,1879,4,NaN,NaN,NaN,Tennessee,College Stats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4948,7,249,SEA,Chris Carson,RB,22,2021,0,0,3,...,3502,24,107,804,7,NaN,NaN,NaN,Oklahoma St.,College Stats
4949,7,250,DET,Pat O'Connor,DE,23,2021,0,0,0,...,0,0,0,0,0,8,NaN,1.0,East. Michigan,College Stats
4950,7,251,CIN,Mason Schreck,TE,23,2021,0,0,0,...,0,0,0,0,0,1,NaN,NaN,Buffalo,College Stats
4951,7,252,CLE,Matthew Dayes,RB,23,2018,0,0,0,...,13,0,4,29,0,9,NaN,NaN,North Carolina St.,College Stats
4952,7,253,DEN,Chad Kelly,QB,23,2018,0,0,0,...,-1,0,0,0,0,NaN,NaN,NaN,Mississippi,College Stats

In [ ]:
df_scraping_test[df_scraping_test.Age == 'Age']

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds.1,TD.1,Rec,Yds.2,TD.2,Solo,Int.1,Sk,College/Univ,Unnamed: 28
31,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
63,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
96,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
132,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
170,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4759,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
4803,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
4841,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
4882,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN
4917,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,NaN

In [ ]:
df_scraping_test = df_scraping_test.drop(df_scraping_test[df_scraping_test.Age == 'Age'].index)

In [ ]:
df_scraping_test

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds.1,TD.1,Rec,Yds.2,TD.2,Solo,Int.1,Sk,College/Univ,Unnamed: 28
0,1,1,CLE,Courtney Brown,DE,22,2005,0,0,4,...,0,0,0,0,0,156,NaN,19.0,Penn St.,College Stats
1,1,2,WAS,LaVar Arrington,LB,22,2006,0,3,5,...,0,0,0,0,0,338,3,23.5,Penn St.,College Stats
2,1,3,WAS,Chris Samuels,T,23,2009,0,6,9,...,0,0,0,0,0,NaN,NaN,NaN,Alabama,College Stats
3,1,4,CIN,Peter Warrick,WR,23,2005,0,0,4,...,360,2,275,2991,18,3,NaN,NaN,Florida St.,College Stats
4,1,5,BAL,Jamal Lewis,RB,21,2009,1,1,9,...,10607,58,221,1879,4,NaN,NaN,NaN,Tennessee,College Stats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4948,7,249,SEA,Chris Carson,RB,22,2021,0,0,3,...,3502,24,107,804,7,NaN,NaN,NaN,Oklahoma St.,College Stats
4949,7,250,DET,Pat O'Connor,DE,23,2021,0,0,0,...,0,0,0,0,0,8,NaN,1.0,East. Michigan,College Stats
4950,7,251,CIN,Mason Schreck,TE,23,2021,0,0,0,...,0,0,0,0,0,1,NaN,NaN,Buffalo,College Stats
4951,7,252,CLE,Matthew Dayes,RB,23,2018,0,0,0,...,13,0,4,29,0,9,NaN,NaN,North Carolina St.,College Stats
4952,7,253,DEN,Chad Kelly,QB,23,2018,0,0,0,...,-1,0,0,0,0,NaN,NaN,NaN,Mississippi,College Stats

Merging dataframes

In [ ]:
#Creation of a segment for people who were drafted
df_scraping_segment = df_scraping_test[['Player','Pos',]]
df_scraping_segment

               Player Pos
0      Courtney Brown  DE
1     LaVar Arrington  LB
2       Chris Samuels   T
3       Peter Warrick  WR
4         Jamal Lewis  RB
...               ...  ..
4948     Chris Carson  RB
4949     Pat O'Connor  DE
4950    Mason Schreck  TE
4951    Matthew Dayes  RB
4952       Chad Kelly  QB

[4839 rows x 2 columns]

In [ ]:
import numpy as np
df_scraping_segment["Drafted"] = "True"
df_scraping_segment

<ipython-input-16-df95d419c7a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scraping_segment["Drafted"] = "True"

               Player Pos Drafted
0      Courtney Brown  DE    True
1     LaVar Arrington  LB    True
2       Chris Samuels   T    True
3       Peter Warrick  WR    True
4         Jamal Lewis  RB    True
...               ...  ..     ...
4948     Chris Carson  RB    True
4949     Pat O'Connor  DE    True
4950    Mason Schreck  TE    True
4951    Matthew Dayes  RB    True
4952       Chad Kelly  QB    True

[4839 rows x 3 columns]

In [ ]:
df["Player"] = df["Player"].apply(Player_name_fix)
df

,Rk,Year,Player,Pos,AV,School,College,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,1,2000,Brian Young,DE,47.0,Texas-El Paso,College Stats,74.0,278,4.94,29.5,27.0,106.0,7.20,4.47,St. Louis Rams / 5th / 139th pick / 2000
1,2,2000,Cedric Woodard,DT,15.0,Texas,NaN,74.0,290,5.21,30.5,23.0,109.0,NaN,NaN,Baltimore Ravens / 6th / 191st pick / 2000
2,3,2000,Antonio Wilson,OLB,2.0,Texas A&M-Commerce,NaN,74.0,245,4.56,NaN,11.0,NaN,NaN,NaN,Minnesota Vikings / 4th / 106th pick / 2000
3,4,2000,Josh Williams,DT,19.0,Michigan,NaN,75.0,282,4.90,30.5,NaN,111.0,7.22,4.25,Indianapolis Colts / 4th / 122nd pick / 2000
4,5,2000,Damen Wheeler,CB,0.0,Colorado,NaN,69.0,179,4.51,35.0,11.0,115.0,7.21,4.27,San Diego Chargers / 6th / 203rd pick / 2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5631,163,2017,Eric Saubert,TE,NaN,Drake,NaN,77.0,253,NaN,33.0,22.0,121.0,NaN,NaN,NaN
5632,164,2017,Adam Shaheen,TE,NaN,Ashland,NaN,78.0,278,4.79,32.5,24.0,121.0,7.09,4.38,NaN
5633,165,2017,Rushel Shell III,RB,NaN,West Virginia,College Stats,70.0,227,4.74,32.5,21.0,NaN,NaN,NaN,NaN
5634,166,2017,Nate Theaker,OG,NaN,Wayne State (MI),NaN,77.0,315,5.41,27.0,23.0,105.0,7.97,4.89,NaN
5635,167,2017,Jerry Ugokwe,OT,NaN,William & Mary,NaN,79.0,321,5.61,26.0,18.0,103.0,8.35,5.17,NaN

In [ ]:
#Combining dataframes of scraped dataset and adjusted combine set
#Used outer join to distigush between those drafted or not
mergedDataFrame = pd.merge(df_scraping_segment, df, on='Player', how='right')
mergedDataFrame

,Player,Pos_x,Drafted,Rk,Year,Pos_y,AV,School,College,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Courtney Brown,DE,True,98,2000,DE,31.0,Penn State,College Stats,77.0,269,4.78,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 1st / 1st pick / 2000
1,Courtney Brown,DE,True,98,2000,DE,31.0,Penn State,College Stats,77.0,269,4.78,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 1st / 1st pick / 2000
2,Courtney Brown,DB,True,98,2000,DE,31.0,Penn State,College Stats,77.0,269,4.78,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 1st / 1st pick / 2000
3,LaVar Arrington,LB,True,110,2000,OLB,51.0,Penn State,College Stats,75.0,250,4.53,NaN,NaN,NaN,NaN,NaN,Washington Redskins / 1st / 2nd pick / 2000
4,LaVar Arrington,LB,True,110,2000,OLB,51.0,Penn State,College Stats,75.0,250,4.53,NaN,NaN,NaN,NaN,NaN,Washington Redskins / 1st / 2nd pick / 2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,Javarius Leamon,NaN,NaN,159,2017,OT,NaN,South Carolina State,NaN,79.0,332,NaN,23.5,22.0,NaN,NaN,NaN,NaN
5948,Cameron Lee,NaN,NaN,160,2017,OG,NaN,Illinois State,NaN,77.0,312,5.44,25.5,18.0,100.0,8.02,4.75,NaN
5949,Rushel Shell III,NaN,NaN,165,2017,RB,NaN,West Virginia,College Stats,70.0,227,4.74,32.5,21.0,NaN,NaN,NaN,NaN
5950,Nate Theaker,NaN,NaN,166,2017,OG,NaN,Wayne State (MI),NaN,77.0,315,5.41,27.0,23.0,105.0,7.97,4.89,NaN
5951,Jerry Ugokwe,NaN,NaN,167,2017,OT,NaN,William & Mary,NaN,79.0,321,5.61,26.0,18.0,103.0,8.35,5.17,NaN

In [ ]:
#Since data dat empty values in the drafted category fill with false
mergedDataFrame[['Drafted']] = mergedDataFrame[['Drafted']].fillna(value="False")
mergedDataFrame

,Player,Pos_x,Drafted,Rk,Year,Pos_y,AV,School,College,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Courtney Brown,DE,True,98,2000,DE,31.0,Penn State,College Stats,77.0,269,4.78,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 1st / 1st pick / 2000
1,Courtney Brown,DE,True,98,2000,DE,31.0,Penn State,College Stats,77.0,269,4.78,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 1st / 1st pick / 2000
2,Courtney Brown,DB,True,98,2000,DE,31.0,Penn State,College Stats,77.0,269,4.78,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 1st / 1st pick / 2000
3,LaVar Arrington,LB,True,110,2000,OLB,51.0,Penn State,College Stats,75.0,250,4.53,NaN,NaN,NaN,NaN,NaN,Washington Redskins / 1st / 2nd pick / 2000
4,LaVar Arrington,LB,True,110,2000,OLB,51.0,Penn State,College Stats,75.0,250,4.53,NaN,NaN,NaN,NaN,NaN,Washington Redskins / 1st / 2nd pick / 2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,Javarius Leamon,NaN,False,159,2017,OT,NaN,South Carolina State,NaN,79.0,332,NaN,23.5,22.0,NaN,NaN,NaN,NaN
5948,Cameron Lee,NaN,False,160,2017,OG,NaN,Illinois State,NaN,77.0,312,5.44,25.5,18.0,100.0,8.02,4.75,NaN
5949,Rushel Shell III,NaN,False,165,2017,RB,NaN,West Virginia,College Stats,70.0,227,4.74,32.5,21.0,NaN,NaN,NaN,NaN
5950,Nate Theaker,NaN,False,166,2017,OG,NaN,Wayne State (MI),NaN,77.0,315,5.41,27.0,23.0,105.0,7.97,4.89,NaN
5951,Jerry Ugokwe,NaN,False,167,2017,OT,NaN,William & Mary,NaN,79.0,321,5.61,26.0,18.0,103.0,8.35,5.17,NaN

In [ ]:
mergedDF = mergedDataFrame.drop_duplicates(subset=['Player'])
mergedDF

,Player,Pos_x,Drafted,Rk,Year,Pos_y,AV,School,College,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Courtney Brown,DE,True,98,2000,DE,31.0,Penn State,College Stats,77.0,269,4.78,NaN,NaN,NaN,NaN,NaN,Cleveland Browns / 1st / 1st pick / 2000
3,LaVar Arrington,LB,True,110,2000,OLB,51.0,Penn State,College Stats,75.0,250,4.53,NaN,NaN,NaN,NaN,NaN,Washington Redskins / 1st / 2nd pick / 2000
5,Chris Samuels,T,True,26,2000,OT,77.0,Alabama,College Stats,77.0,325,5.08,NaN,NaN,NaN,NaN,NaN,Washington Redskins / 1st / 3rd pick / 2000
7,Peter Warrick,WR,True,9,2000,WR,29.0,Florida State,College Stats,71.0,194,4.58,NaN,NaN,NaN,NaN,NaN,Cincinnati Bengals / 1st / 4th pick / 2000
9,Jamal Lewis,RB,True,50,2000,RB,83.0,Tennessee,College Stats,72.0,240,4.58,NaN,23.0,NaN,NaN,NaN,Baltimore Ravens / 1st / 5th pick / 2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,Javarius Leamon,NaN,False,159,2017,OT,NaN,South Carolina State,NaN,79.0,332,NaN,23.5,22.0,NaN,NaN,NaN,NaN
5948,Cameron Lee,NaN,False,160,2017,OG,NaN,Illinois State,NaN,77.0,312,5.44,25.5,18.0,100.0,8.02,4.75,NaN
5949,Rushel Shell III,NaN,False,165,2017,RB,NaN,West Virginia,College Stats,70.0,227,4.74,32.5,21.0,NaN,NaN,NaN,NaN
5950,Nate Theaker,NaN,False,166,2017,OG,NaN,Wayne State (MI),NaN,77.0,315,5.41,27.0,23.0,105.0,7.97,4.89,NaN
5951,Jerry Ugokwe,NaN,False,167,2017,OT,NaN,William & Mary,NaN,79.0,321,5.61,26.0,18.0,103.0,8.35,5.17,NaN

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
# Replace zeroes
zero_not_accepted = ['Height', 'Wt', '40YD', 'Vertical', 'BenchReps','Broad Jump', '3Cone', 'Shuttle']

In [ ]:
for column in zero_not_accepted:
    mergedDF[column] = mergedDF[column].replace(0, np.NaN)
    mean = int(mergedDF[column].mean(skipna=True))
    mergedDF[column] = mergedDF[column].replace(np.NaN, mean)

mergedDF

<ipython-input-23-58f192979ab7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mergedDF[column] = mergedDF[column].replace(0, np.NaN)
<ipython-input-23-58f192979ab7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mergedDF[column] = mergedDF[column].replace(np.NaN, mean)

,Player,Pos_x,Drafted,Rk,Year,Pos_y,AV,School,College,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Courtney Brown,DE,True,98,2000,DE,31.0,Penn State,College Stats,77.0,269,4.78,32.0,20.0,114.0,7.00,4.00,Cleveland Browns / 1st / 1st pick / 2000
3,LaVar Arrington,LB,True,110,2000,OLB,51.0,Penn State,College Stats,75.0,250,4.53,32.0,20.0,114.0,7.00,4.00,Washington Redskins / 1st / 2nd pick / 2000
5,Chris Samuels,T,True,26,2000,OT,77.0,Alabama,College Stats,77.0,325,5.08,32.0,20.0,114.0,7.00,4.00,Washington Redskins / 1st / 3rd pick / 2000
7,Peter Warrick,WR,True,9,2000,WR,29.0,Florida State,College Stats,71.0,194,4.58,32.0,20.0,114.0,7.00,4.00,Cincinnati Bengals / 1st / 4th pick / 2000
9,Jamal Lewis,RB,True,50,2000,RB,83.0,Tennessee,College Stats,72.0,240,4.58,32.0,23.0,114.0,7.00,4.00,Baltimore Ravens / 1st / 5th pick / 2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,Javarius Leamon,NaN,False,159,2017,OT,NaN,South Carolina State,NaN,79.0,332,4.00,23.5,22.0,114.0,7.00,4.00,NaN
5948,Cameron Lee,NaN,False,160,2017,OG,NaN,Illinois State,NaN,77.0,312,5.44,25.5,18.0,100.0,8.02,4.75,NaN
5949,Rushel Shell III,NaN,False,165,2017,RB,NaN,West Virginia,College Stats,70.0,227,4.74,32.5,21.0,114.0,7.00,4.00,NaN
5950,Nate Theaker,NaN,False,166,2017,OG,NaN,Wayne State (MI),NaN,77.0,315,5.41,27.0,23.0,105.0,7.97,4.89,NaN
5951,Jerry Ugokwe,NaN,False,167,2017,OT,NaN,William & Mary,NaN,79.0,321,5.61,26.0,18.0,103.0,8.35,5.17,NaN

In [ ]:
mergedDF = mergedDF.drop(['School', 'College', 'Drafted (tm/rnd/yr)', 'AV', 'Pos_x'], axis=1)
mergedDF

,Player,Drafted,Rk,Year,Pos_y,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle
0,Courtney Brown,True,98,2000,DE,77.0,269,4.78,32.0,20.0,114.0,7.00,4.00
3,LaVar Arrington,True,110,2000,OLB,75.0,250,4.53,32.0,20.0,114.0,7.00,4.00
5,Chris Samuels,True,26,2000,OT,77.0,325,5.08,32.0,20.0,114.0,7.00,4.00
7,Peter Warrick,True,9,2000,WR,71.0,194,4.58,32.0,20.0,114.0,7.00,4.00
9,Jamal Lewis,True,50,2000,RB,72.0,240,4.58,32.0,23.0,114.0,7.00,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,Javarius Leamon,False,159,2017,OT,79.0,332,4.00,23.5,22.0,114.0,7.00,4.00
5948,Cameron Lee,False,160,2017,OG,77.0,312,5.44,25.5,18.0,100.0,8.02,4.75
5949,Rushel Shell III,False,165,2017,RB,70.0,227,4.74,32.5,21.0,114.0,7.00,4.00
5950,Nate Theaker,False,166,2017,OG,77.0,315,5.41,27.0,23.0,105.0,7.97,4.89
5951,Jerry Ugokwe,False,167,2017,OT,79.0,321,5.61,26.0,18.0,103.0,8.35,5.17

In [ ]:
#Replacing draft values with numbers
mergedDF = mergedDF.replace(to_replace =["True", "False"],
                            value =["1", "2"])

In [ ]:
# https://www.youtube.com/watch?v=4HKqjENq9OU&t=590s
#Testing the values of the player attributes (Takes all rows and takes columns 10-17)
X = mergedDF.iloc[:, 5:13]
#Determing whether or not the player was drafted
y = mergedDF.iloc[:, 1]
#Testing the set, setting aside 20% of the values for later
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.2)

In [ ]:
# Define the model: Init K-NN
classifier = KNeighborsClassifier(n_neighbors=20, p=1,metric='euclidean')

In [ ]:
# Fit Model
classifier.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=20, p=1)

In [ ]:
#Represents the number of values to be tested and trained
print(len(X_train))
print(len(y_train))
print(len(X_test))
print(len(y_test))

4438
4438
1110
1110

In [ ]:
# Predict the test set results
y_pred = classifier.predict(X_test)
y_pred

array(['1', '1', '1', ..., '2', '1', '1'], dtype=object)

In [ ]:
# Evaluate Model using confusion matrix
cm = confusion_matrix(y_test, y_pred)
print (cm)

[[653  55]
 [344  58]]

In [ ]:
#This shows the accuracy of the model in predicting whether or not a player will be drafted
print(str(accuracy_score(y_test, y_pred)*100)+'%')

64.05405405405405%

In [ ]:
#Indication of false positives in the model
print(f1_score(y_test, y_pred, average=None))

[0.7659824  0.22524272]